@page
@model IndexModel


<div class="text-center">
    <h1 class="display-4">Welcome to my page!</h1>

    <canvas id="myCanvas" width='800' height='400'></canvas>
    <script src="~/js/site.js"></script>

    <p>See my github <a href="https://github.com/tayloroj">for an example of my work.</a>.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/77qc4ZtufzM?si=olxva_Ovik3bAn4x"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>

    <p>Watch my favorite music video before you go.</p>
</div>
